<p>The project below was inspected and it was noted to potentially have a safety deficiency. Please address this immediately or send me a reply email noting that this issue was resolved</p>
<br/><br/><br/>
<strong>Project: </strong> <%= @proj_name %>
<br/>
<strong>Category: </strong> <%= @cname %>
<br/>
<strong>Question: </strong> <%= @body %>
<br/>
<strong>Notes: </strong><%= @answer.notes %>
<br/><br/><br/>
<% if @answers_file.size > 0 %>
To view photo of issue: <br />
    <% @answers_file.each do |aFile| %>
        <%= link_to "click here",  "http://#{TestApp::Application.config.action_mailer.default_url_options[:host]}#{aFile.file}", target: "_blank" %>
        <br />
    <% end %>
<% end %>
<br/><br/><br/><br/>
--Regards
<p><%= @user.first_name + " " + @user.last_name %><%= %></p>
<p><%= @user.company %></p>

	</body>	
</html>

