<%= stylesheet_link_tag "invitation.css" %>
<%= hidden_field_tag 'active_class', 'invite_user'%>
<div class=" well style text-center">
	<%= form_for @invitation,:url=>user_registration_path,:html => { :class => 'form-horizontal' } do |f| %>
	<% if @invitation.errors.any? %>
		<div>
		  <% @invitation.errors.full_messages.each do |msg| %>
		    <%= msg %><br/>
		  <% end %>
		</div>
	<% end %>
		<div>
			<%= f.label :email %>
  		<%= f.email_field :email, autofocus: true %>
 	  </div>
 	  <div>
		<%= f.label :password %>
  		<%= f.text_field :password %>
 	  </div>
 	  <div class="div">
		<% if current_user.role == "admin" %>
		
  			<%= f.label :Role %>
  			<%= f.select :role, options_for_select([ [ GlobalConstants::Users::ROLES[:client].titleize, GlobalConstants::Users::ROLES[:client] ],[ GlobalConstants::Users::ROLES[:admin].titleize, GlobalConstants::Users::ROLES[:admin] ] ], selected: @invitation.role.present? ? @invitation.role : GlobalConstants::Users::ROLES[:client]), {},{ :class => 'select-role' } %>
  		<% else %>	
  			<%= f.hidden_field :role, value: GlobalConstants::Users::ROLES[:subordinate] %>
  		<% end %>
 	  </div>
 	  <div>
 	  	<%= f.submit "Submit", class: "btn btn-primary btn-sm pull-right"%>
 	  </div>
 	  <br/>	
	<% end %>
</div>	