<script type="text/javascript">
	$(document).ready(function(){

		$('.send_email_button').click(function(){
			$(".sent_email").addClass("hidden");
			var $this = $(this);
			var q_id = $this.attr("id");
			var email = $("#emailTxt").val();
			var rep_id = $("#report_report_id").val();
			
			var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
			if( !emailReg.test( email ) ) 
			{
			    alert("Please enter correct email address")
			} else {
			    // return true;
				$.ajax({
		          type: 'get',
		          url: '/incidents/'+ rep_id +'/send_email',
		          dataType: 'json',
		          data: {
		          	email: email,
		          	qid: q_id
		          },
		          success :function(data){
		          	if(data == 'true')
		          	{
		          		// alert("email sent");
		          		$(".sent_email").removeClass("hidden");
		          		$("#emailTxt").val('')
		          	}
		          	else
		          	{
		          		alert("email not sent");
		          	}
		          }
		        }); // end of ajax
			}
		});


	$('.answer_status').click(function(){
			var $this = $(this);
			$.ajax({
	          type: 'get',
	          url: '/projects/'+ $('#project_id').val() +'/answers/' + $this.attr('data-id') + '/check_answer',
	          dataType: 'json',
	          data: {
	          	id: $this.attr('data-id')
	          },
	          success :function(data){
	          	if(data == true)
	          	{
	          		bootbox.prompt("Please Enter Reason?", function(result) {                
					  if (result === null) {                                             
					    // Example.show("Prompt dismissed");                              
					  } else {
						$.ajax({
				          type: 'patch',
				          url: '/projects/'+ $('#project_id').val() +'/answers/' + $this.attr('data-id'),
				          dataType: 'json',
				          data: {
				          	status: $this.val(),
				          	note: result
				          }
			        	});  	
					  }
					});
	          	}else{
					$.ajax({
			          type: 'patch',
			          url: '/projects/'+ $('#project_id').val() +'/answers/' + $this.attr('data-id'),
			          dataType: 'json',
			          data: {
			          	status: $this.val(),
			          	id: $this.attr('data-id')
			          }
		        	});
	          	}
	          }
	        });
	});

	});
</script>
<%= hidden_field_tag :report_id, @report.id %>
<%= hidden_field_tag :project_id, @report.project.id %>
<%= link_to "<< Back",project_reports_path(@project) %>
<br/>
<h1><%= @project.name %></h1>
<!-- <table class="table table-bordered table-striped table-condensed">
    <thead>
      <th>Name</th>
      <th>Action</th>
    </thead>  
    <tbody>
        <tr>
          <td><%= @report.name %></td>
          <td>
            <%#= link_to "show", project_path(project), class: "btn btn-default btn-sm" %>
            <%#= link_to 'Destroy', "#", data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-xs btn-danger" %>
            </td>
        </tr>
    </tbody>  
</table>  -->

<%= form_for @report,:url=> edit_project_report_path(@project,@report), html: { class: 'well', role: 'form'} do |f| %>

	<fieldset>
	  <h2 class="text-center"><strong><u><%= @report.created_at.to_date %> Checklist</u></strong> </h2>
	  <br/>
	  <div class="alert alert-success sent_email hidden" >Email has been successfully sent.</div>
		<%= f.hidden_field :enable_answers_validation, value: true %>
		<%= f.hidden_field :report_id,value:@report.id %>

	  	<% @categories.each do |c| %>
			<h3><strong><u><%= c.name %></u></strong></h3>
			<% c.questions.each do |q| %>
				<div class="form-group">		
					<% answer = @answers.find_by(question_id: q.id) %>
		            <% if(answer.status == 2)  %>
						<%= f.label q.body, class: "control-label", style: "color: red" %>
					<% else %>
						<%= f.label q.body, class: "control-label" %>
			     	<% end %>
			     	<div class="row">
				     	<% GlobalConstants::Answers::STATUSES.each do |st| %> 
					      	<div class="col-sm-3">
					      		<%= radio_button_tag "status#{answer.id}", st[1], answer_radio_status(answer.status, st[1]), class: "answer_status", data: { id: answer.id } %>
					      		<%= label "status#{answer.id}_#{st[1]}", st[0] %>	
					      	</div> 
				        <% end %>
				        <br/>
				          <div class="control-group col-xs-3">
				            <!-- <label class="control-label">Email</label>   -->
				            <input type="text" id="emailTxt" name="emailTxt" />
				            <%=link_to  "Send","javascript:void(0)" ,class: "btn btn-xs btn-primary send_email_button", :id=> "#{q.id}" %>
				          </div>
			        <br/>
		    	</div>
			<% end %>
		<% end %>
	</fieldset>
<% end %>
